# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.
# edfdfdfdfdf
# dependencies
/Front-End/node_modules
/Front-End/.pnp
/Front-End/.pnp.js

.pnp
.pnp.js
# testing
/Front-End/coverage
/coverage
# production
/Front-End/build
/build
# misc
/Front-End/.DS_Store
/Front-End/.env.local
/Front-End/.env.development.local
/Front-End/.env.test.local
/Front-End/.env.production.local

.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local
/Front-End/npm-debug.log*
/Front-End/yarn-debug.log*
/Front-End/yarn-error.log*
npm-debug.log*
yarn-debug.log*
yarn-error.log*

HELP.md
target/
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**
!**/src/test/**

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/

### VS Code ###
.vscode/


/Back-End/HELP.md
/Back-End/target/
/Back-End/!.mvn/wrapper/maven-wrapper.jar
/Back-End/!**/src/main/**
/Back-End/!**/src/test/**

### STS ###
/Back-End/.apt_generated
/Back-End/.classpath
/Back-End/.factorypath
/Back-End/.project
/Back-End/.settings
/Back-End/.springBeans
/Back-End/.sts4-cache

### IntelliJ IDEA ###
/Back-End/.idea
/Back-End/*.iws
/Back-End/*.iml
/Back-End/*.ipr

### NetBeans ###
/Back-End/nbproject/private/
/Back-End/nbbuild/
/Back-End/dist/
/Back-End/nbdist/
/Back-End/.nb-gradle/
/Back-End/build/

### VS Code ###
/Back-End/.vscode/
