body {
  padding:  0;
  margin: 0;
  align-items: center;
  /*background: linear-gradient(to right, #424242, #ffffff);*/
}



nav-button{
 
  font-weight: bold;
  font-family: sans-serif;
  font-weight: bold;
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
  }


a:hover {
  background-image: linear-gradient(to bottom, #ebcfb4, #edb461); 
  box-shadow: 0 5px 15px rgba(242, 97);
  border-radius: 10px !important;
  margin-left: 40px;
  transition: .5s !important;
  height: 60px;
  margin-top: 2px;
  margin-bottom: 2px;
  font-family: sans-serif !important;
  color: black;
  font-weight: 500;
  
}
.socialMedia {
  display: flex;
  flex-direction: row;
}

.socialMedia > div {
  padding-right: 1vh;
}

.test {
  -webkit-animation: fadein 1s; /* Safari, Chrome and Opera > 12.1 */
  -moz-animation: fadein 1s; /* Firefox < 16 */
  -ms-animation: fadein 1s; /* Internet Explorer */
  -o-animation: fadein 1s; /* Opera < 12.1 */
  animation: fadein 1s;
}

@keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

/* Firefox < 16 */
@-moz-keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

/* Safari, Chrome and Opera > 12.1 */
@-webkit-keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

/* Internet Explorer */
@-ms-keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

/* Opera < 12.1 */
@-o-keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

 